body {
    margin: 0;
    padding: 0;
    background: burlywood;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.form-container {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.selector {
    width: 400px;
    height: 50px;
    position: relative;
    margin-top: 100px;
    border: 2px solid #ccc;
}

.button-container {
    display: flex;
    justify-content: center;
}

.country {
    width: 400px;
    border: 2px solid #ccc;
}

#selectid {
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 2px solid #ccc;
}

.form-accept {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 10px;
}

.form-accept-label {
    margin-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid #ccc;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

.form-input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
}

.form-input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

.form-button {
    background: #008CBA;
    padding: 10px 10px;
    min-width: 200px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #00546f;
}